<!doctype html>
<html><!-- InstanceBegin template="/Templates/menu.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Online Academy</title>
<!-- InstanceEndEditable -->
<script src="/Front-end/js/jquery-3.3.1.min.js"></script>
<link href="/Front-end/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/Front-end/css/mainstyle.css" rel="stylesheet" type="text/css">
<script src="/Front-end/js/bootstrap-4.3.1.js"></script>
{{{_sections.css}}}
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light flex-lg-nowrap">
  <a class="navbar-brand" href="/"><img src="/Front-end/img/logo2.png" style="width: 70px; height: auto"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto menu">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle font-weight-bold text-blue-light" href="Product.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lĩnh vực</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="dropdown-submenu">
			  {{#each lcCategories}}
			  <a class="dropdown-item" href="/products/byCat/{{catID}}">{{catName}}</a>
				<div class="dropdown-divider"></div>
			</li>
				{{/each}}
        </ul>
      </li>
    </ul>
    <form id="frmSearch" action="/products/search" class="form-inline my-2 my-lg-0 w-70">
      <input class="form-control mr-sm-2 w-50" type="search" id="search" name="search" placeholder="Tìm khóa học, giảng viên" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form id="frmLogout" action="/user/logout" method="POST"></form>
    {{#if auth}}
      <ul class="navbar-nav menu">
    		  	<li class="nav-item dropdown">
       			  <a class="nav-link dropdown-toggle text-blue-light mr-2" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-user fa-2x"></i>
                {{authUser.fullName}}
              </a>
				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown-1">
					  <li class="dropdown-submenu">
						  <a class="dropdown-item" href="/user/profile">Thông tin</a>
						</li>
            {{#if authUser.IsTeacher}}
					  <div class="dropdown-divider"></div>
					   <li class="dropdown-submenu">
						  <a class="dropdown-item" href="UpCourse.html">Đăng khóa học</a>
						</li>
            {{/if}}
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">Đăng xuất  <i class="fa fa-sign-out"></i></a>
					</ul>
      			</li>
      </ul>
      <a href="#" role="button" class="nav-link text-blue-light position-relative mr-2"><i class=" fa fa-bell fa-2x">
        </i> Thông báo<p class="position-absolute tl-num">0</p>
      </a>
      <a href="/cart" role="button" class="nav-link text-blue-light position-relative mr-2">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <p class="position-absolute tl-num">{{cartSummary}}</p> Giỏ hàng
      </a>
      {{else}}
      <a class="form-inline my-2 my-lg-0 ml-5 btn btn-outline-success" href="/user/register" role="button">Đăng kí</a>
      
      <a class="form-inline my-2 my-lg-0 ml-3 mr-5 btn btn-primary" href="/user/login">Đăng nhập</a>
      {{/if}}
  </div>
</nav>
</header>
<!-- InstanceBeginEditable name="main" -->	
	<main>
							{{{body}}}
	</main>
	<!-- InstanceEndEditable -->
<footer class="bg-light">
	<div class="row footer pb-4 pt-4">
		<div class="col-3 pl-5">
			<p class="font-weight-bold">Trụ sở chính</p>
			<div class="dropdown-divider"></div>
			<p><span class="fa fa-map-marker"></span> 227 Nguyễn Văn Cừ, Quận 5, Tp HCM</p>
		</div>
		<div class="col-3 pl-5">
			<p class="font-weight-bold">Cơ sở 2</p>
			<div class="dropdown-divider"></div>
			<p><span class="fa fa-map-marker"></span> 137E Nguyễn Chí Thanh, P9, Q.5, Tp HCM</p>
		</div>
		<div class="col-3 pl-5">
			<p class="font-weight-bold">Chính sách và quy định chung</p>
			<div class="dropdown-divider"></div>
			<p><span class="fa fa-check"></span> Điều khoản và dịch vụ</p>
			<p><span class="fa fa-check"></span> Chính sách bảo mật</p>
		</div>
		<div class="col-3 pl-5">
			<span class="fa fa-facebook-square fa-2x mr-2"></span>
			<span class="fa fa-twitter-square fa-2x mr-2"></span>
			<span class="fa fa-instagram fa-2x"></span>
			<p class="font-weight-bold">Liên kết với chúng tôi</p>
		</div>
  </div>
</footer>
{{{_sections.js}}}
</body>
<!-- InstanceEnd --></html>
