	<div class="pl-5 pr-5">
   	 <div class="container-fluid">
		<img src="/Front-end/img/Banner.png" height="370px" width="100%">
		<div>
			<h4 class="mt-3 title blink" id="startBlink">Các khóa học nổi bật:</h4>
			<div id="carousel-example" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner row" role="listbox">
					{{#with top_one}}
					<div class="container col-3 carousel-item active h-400px">
						<div class=" card pt-3 pl-3 pr-3 choose h-100">
							<img src="/Front-end/img/{{courseID}}.jpg" class="w-100">
							<a class=" mt-1 text-dark font-weight-bold" href="/products/detail/{{courseID}}">{{courseName}}</a>
							<p class="mt-1 teacher">{{teacherName}}</p>  
							<p class="teacher font-weight-bold">{{catName}}</p>
							<p class="teacher">Đánh giá: {{rating}} <i class="fa fa-star text-warning"></i> ({{numRating}} người đánh giá)</p>
							<p class="price font-weight-bold">{{format_number coursePrice}}đ</p>
						</div>
					</div>
					{{/with}}
					{{#each top}}
					<div class="container col-3 carousel-item h-400px">
						<div class=" card pt-3 pl-3 pr-3 choose h-100">
							<img src="/Front-end/img/{{courseID}}.jpg" class="w-100">
							<a class="mt-1 text-dark font-weight-bold" href="/products/detail/{{courseID}}">{{courseName}}</a>
							<p class="mt-1 teacher">{{teacherName}}</p>  
							<p class="teacher font-weight-bold">{{catName}}</p>
							<p class="teacher">Đánh giá: {{rating}} <i class="fa fa-star text-warning"></i> ({{numRating}} người đánh giá)</p>
							<p class="price font-weight-bold">{{format_number coursePrice}}đ</p>
						</div>
					</div>
					{{/each}}
				</div>
				<a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-3 h-100">
				<p class="title-1">Các khóa học được<br> xem nhiều nhất</p>
			</div>
			<div class="col-9 row">
				<div id="carousel-example-1" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner row w-100 mx-auto" role="listbox">
						{{#with this.most_joined_one}}
						<div class="container col-3 carousel-item active h-200px">
							<div class=" card pt-3 pl-3 pr-3 choose h-100">
								<img src="/Front-end/img/{{courseID}}.jpg" class="w-100">
								<a class=" mt-1 text-dark font-weight-bold" href="/products/detail/{{courseID}}">{{courseName}}</a>
								<p class="mt-1 teacher">{{teacherName}}</p>  
								<p class="teacher font-weight-bold">{{catName}}</p>
								<p class="teacher">Đánh giá: {{rating}} <i class="fa fa-star text-warning"></i> ({{numRating}} người đánh giá)</p>
								<p class="price font-weight-bold">{{format_number coursePrice}}đ</p>
							</div>
						</div>
						{{/with}}
						{{#each this.most_joined}}
						<div class="container col-3 carousel-item h-200px">
							<div class=" card pt-3 pl-3 pr-3 choose h-100">
							<img src="/Front-end/img/{{courseID}}.jpg" class="w-100">
							<a class="mt-1 text-dark font-weight-bold" href="/products/detail/{{courseID}}">{{courseName}}</a>
							<p class="mt-1 teacher">{{teacherName}}</p>
							<p class="teacher font-weight-bold">{{catName}}</p>
							<p class="teacher">Đánh giá: {{rating}} <i class="fa fa-star text-warning"></i> ({{numRating}} người đánh giá)</p>
							<p class="price font-weight-bold">{{format_number coursePrice}}đ</p>
							</div>
						</div>
						{{/each}}
					</div>
					<a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
							<a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-3 h-100">
				<p class="title-2">Các khóa học<br>mới nhất</p>
			</div>
			<div class="col-9 row">
				<div id="carousel-example-2" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner row w-100 mx-auto" role="listbox">
						{{#with this.latest_one}}
						<div class="container col-3 carousel-item active h-200px">
							<div class=" card pt-3 pl-3 pr-3 choose h-100">
								<img src="/Front-end/img/{{courseID}}.jpg" class="w-100">
								<a class=" mt-1 text-dark font-weight-bold" href="/products/detail/{{courseID}}">{{courseName}}</a>
								<p class="mt-1 teacher">{{teacherName}}</p>  
								<p class="teacher font-weight-bold">{{catName}}</p>
								<p class="teacher">Đánh giá: {{rating}} <i class="fa fa-star text-warning"></i> ({{numRating}} người đánh giá)</p>
								<p class="price font-weight-bold">{{format_number coursePrice}}đ</p>
							</div>
						</div>
						{{/with}}
						{{#each this.latest}}
						<div class="container col-3 carousel-item h-200px">
							<div class=" card pt-3 pl-3 pr-3 choose h-100">
							<img src="/Front-end/img/{{courseID}}.jpg" class="w-100" alt="img2">
							<a class="mt-1 text-dark font-weight-bold" href="/products/detail/{{courseID}}">{{courseName}}</a>
							<p class="mt-1 teacher">{{teacherName}}</p>
							<p class="teacher font-weight-bold">{{catName}}</p>
							<p class="teacher">Đánh giá: {{rating}} <i class="fa fa-star text-warning"></i> ({{numRating}} người đánh giá)</p>
							<p class="price font-weight-bold">{{format_number coursePrice}}đ</p>
							</div>
						</div>
						{{/each}}
					</div>
					<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-5">	
			<p class="title-dkm">Danh sách các khóa học được đăng kí nhiều nhất</p>
			<div class="row">
				{{#each this.most_joined}}	
				<div class="container col-3 h-360px mt-3">
					<div class=" card pt-3 pl-3 pr-3 choose h-100">
						<img src="/Front-end/img/{{courseID}}.jpg" class="w-100">
						<a class=" mt-1 text-dark font-weight-bold" href="/products/detail/{{courseID}}">{{courseName}}</a>
						<p class="mt-1 teacher">{{teacherName}}</p>  
						<p class="teacher font-weight-bold">{{catName}}</p>
						<p class="teacher">Đánh giá: {{rating}} <i class="fa fa-star text-warning"></i> ({{numRating}} người đánh giá)</p>
						<p class="price font-weight-bold">{{format_number coursePrice}}đ</p>
					</div>
				</div>
				{{/each}}		
			</div>
		</div>
     </div>
</div>
	<script>
$('#carousel-example').on('slide.bs.carousel', function(e) {
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 5;
    var totalItems = $('#carousel-example .carousel-item').length;
    if (idx >= totalItems-(itemsPerSlide-1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i=0; i<it; i++) {
            // append slides to end
            if (e.direction=="left") {
                $('.carousel-item').eq(i).appendTo('.carousel-inner');
            }
            else {
                $('.carousel-item').eq(0).appendTo('.carousel-inner');
            }
        }
    }
});
	</script>
	<script>
$('#carousel-example-1').on('slide.bs.carousel', function(f) {
    var $f = $(f.relatedTarget);
    var idx = $f.index();
    var itemsPerSlide = 5;
    var totalItems = $('#carousel-example-1 .carousel-item').length;
    if (idx >= totalItems-(itemsPerSlide-1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i=0; i<it; i++) {
            // append slides to end
            if (f.direction=="left") {
                $('#carousel-example-1 .carousel-item').eq(i).appendTo('.carousel-inner');
            }
            else {
                $('#carousel-example-1 .carousel-item').eq(0).appendTo('.carousel-inner');
            }
        }
    }
});
	</script>
	<script>
$('#carousel-example-2').on('slide.bs.carousel', function(h) {
    var $h = $(h.relatedTarget);
    var idx = $h.index();
    var itemsPerSlide = 5;
    var totalItems = $('#carousel-example-2 .carousel-item').length;
    if (idx >= totalItems-(itemsPerSlide-1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i=0; i<it; i++) {
            // append slides to end
            if (h.direction=="left") {
                $('#carousel-example-2 .carousel-item').eq(i).appendTo('.carousel-inner');
            }
            else {
                $('#carousel-example-2 .carousel-item').eq(0).appendTo('.carousel-inner');
            }
        }
    }
});
	</script>
 <script>
     $('#startBlink').ready(function(){
		 setInterval(function(){
           if(window.blink){
              $('.blink').css('color','#003399');
              window.blink=false;
            }
           else{
               $('.blink').css('color','#00CCFF');
               window.blink = true;
           }
       },200);
     });
</script>