{{#if authUser.IsTeacher}}
<div class="row mt-3">
    <div class="col-3">
        <div class="card-header bg-info text-white">
            <h5 class="font-weight-bold">PROFILE</h5>
            <p>{{authUser.fullName}}</p>
        </div>
        <div class="card-body">
            <div class="dropdown-divider"></div>
            <a href="/user/profile" role="button" class="nav-link pt-2 pb-2 text-white bg-info">Giới thiệu</a>
            <a href="/user/profile/view_course" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách khóa học đã đăng</a>
            <div class="dropdown-divider"></div>
            <a href="/user/profile/add_course" role="button" class="nav-link pt-2 pb-2 text-dark">Đăng khóa học</a>
        </div>
    </div>
<div class="col-9 pt-4 mb-5 ml-2 row">
    <div class="form-group mt-2 w-100">
        <label for="Mota" class="font-weight-bold">Mô tả về bản thân</label>
        <textarea class="form-control w-50" id="Mota" rows="3"></textarea>
            <button type="submit" class="btn btn-outline-primary mt-3">Xác nhận</button>
    </div>
</div>
</div>
{{else}}
{{#if authUser.IsAdmin}}
<div class="row mt-3">
<div class="col-3">
    <div class="card-header bg-info text-white">
        <h5 class="font-weight-bold">PROFILE</h5>
        <p>{{authUser.fullName}}</p>
    </div>
    <div class="card-body">
        <a href="/user/profile/viewListStudent" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách học viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/registerTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Cấp tài khoản giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListCategory" role="button" class="nav-link pt-2 pb-2 text-dark">Quản lí lĩnh vực</a>
    </div>
</div>
{{else}}
<div class="row mt-3">
<div class="col-3">
    <div class="card-header bg-info text-white">
        <h5 class="font-weight-bold">PROFILE</h5>
        <p>{{authUser.fullName}}</p>
    </div>
    <div class="card-body">
        <a href="/user/profile/" role="button" class="nav-link pt-2 pb-2 text-white bg-info">Thông tin cá nhân</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/confirmPass" role="button" class="nav-link pt-2 pb-2 text-dark">Thay đổi mật khẩu</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/favoriteCourses" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách khóa học yêu thích</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/boughtCourses" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách khóa học đã đăng ký</a>
    </div>
</div>
<div class="col-9 pt-5 mb-5">
    <form action="/user/profile/confirmPassInfor">
        <div class="form-group">
			<input class="w-25" type="text" id="userID" name="userID" hidden readonly value="{{authUser.userID}}">
			<input class="w-25" type="text" id="userName" name="userName" hidden readonly value="{{authUser.userName}}">
		</div>
        <div class="form-group">
			<label for="fullName">Họ và tên</label>
			<input type="text" class="form-control w-50" id="fullName" name="fullName" value="{{authUser.fullName}}" readonly>
		</div>
		<div class="form-group">
			<label for="dob">Ngày sinh</label>
			<input class="form-control w-50" type="text" id="dob" name="dob" value="{{format_day authUser.dob}}" readonly>
		</div>
		<div class="form-group">
			<label for="address">Địa chỉ</label>
			<input class="form-control w-50" type="text" id="address" name="address" value="{{authUser.address}}" readonly>
		</div>
		<div class="form-group">
			<label for="phoneNumber">Số điện thoại</label>
			<input class="form-control w-50" type="text" id="phoneNumber" name="phoneNumber" value="{{authUser.phoneNumber}}" readonly>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control w-50" type="email" id="email" name="email" value="{{authUser.email}}" readonly>
		</div>
        <button type="submit" class="btn btn-outline-primary">Thay đổi</button>
    </form>
</div>
</div>
{{/if}}
{{/if}}