<div class="row mt-3">
<div class="col-3">
    <div class="card-header bg-info text-white">
        <h5 class="font-weight-bold">PROFILE</h5>
        <p>{{authUser.fullName}}</p>
    </div>
    <div class="card-body">
        <a href="/user/profile/" role="button" class="nav-link pt-2 pb-2 text-dark">Thông tin cá nhân</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/confirmPass" role="button" class="nav-link pt-2 pb-2 text-dark">Thay đổi mật khẩu</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/favoriteCourses" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách khóa học yêu thích</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/boughtCourses" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách khóa học đã đăng ký</a>
    </div>
</div>
<div class="col-9 pt-5 mb-5">
    <form method="POST">
        <div class="form-group">
			<input class="w-25" type="text" id="userID" name="userID" hidden readonly value="{{authUser.userID}}">
			<input class="w-25" type="text" id="userName" name="userName" hidden readonly value="{{authUser.userName}}">
		</div>
        <div class="form-group">
			<label for="fullName">Họ và tên</label>
			<input type="text" class="form-control w-50" id="fullName" name="fullName" value="{{authUser.fullName}}">
		</div>
		<div class="form-group">
			<label for="dob">Ngày sinh</label>
			<input class="form-control w-50" type="date" id="dob" name="dob" value="{{authUser.dob}}">
		</div>
		<div class="form-group">
			<label for="address">Địa chỉ</label>
			<input class="form-control w-50" type="text" id="address" name="address" value="{{authUser.address}}">
		</div>
		<div class="form-group">
			<label for="phoneNumber">Số điện thoại</label>
			<input class="form-control w-50" type="text" id="phoneNumber" name="phoneNumber" value="{{authUser.phoneNumber}}">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control w-50" type="email" id="email" name="email" value="{{authUser.email}}">
		</div>
        <button type="submit" class="btn btn-outline-primary">Cập nhật</button>
    </form>
</div>
</div>