{{#if authUser.IsAdmin}}
<div class="row mt-3">
<div class="col-3">
    <div class="card-header bg-info text-white">
        <h5 class="font-weight-bold">PROFILE</h5>
        <p>{{authUser.fullName}}</p>
    </div>
    <div class="card-body">
        <a href="/user/profile/viewListStudent" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách học viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/registerTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Cấp tài khoản giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListCategory" role="button" class="nav-link pt-2 pb-2 text-dark">Quản lí lĩnh vực</a>
    </div>
</div>
<div class="col-9 pt-4 mb-5 ml-2 row">
<div class="container pr-5">
    <div class="card">
        <div class ="d-flex justify-content-between card-header">
            <h4>Danh sách lĩnh vực</h4>
            <a href="/user/profile/addCat" class="btn btn-outline-success fa fa-plus font-weight-bold" role="button"> Thêm lĩnh vực</a>
        </div>
        <div class = "card-body">
            {{#if this.empty}}
            <h5 class="card-title">Không có dữ liệu!</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            {{else}}
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.categories}}			
                <tr>
                <th scope="row">{{catID}}</th>
                <td>{{catName}}</td>
                <td class="text-right">
                    <a href="/user/profile/editCat?id={{catID}}" class="btn btn-outline-info" role="button">Sửa</a>
                </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
            {{/if}}
        </div>
    </div>
</div>
</div>
{{/if}}