{{#with product}}
<div class="container">
    <div class="row pt-3">
    <div class="col-7">
        <img src="/Front-end/img/{{courseID}}.jpg" class="w-100">
        <div class="card">
            <div class="card-header"><h5 class="font-weight-bold">Bạn sẽ học được gì</h5></div>
            <div class="card-body">{{{shortDescription}}}</div>
        </div>
        <div class="card">
            <div class="card-header"><h5 class="font-weight-bold">Giới thiệu khóa học</h5></div>
            <div class="card-body">
                <p>
                    {{{longDescription}}}
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h5 class="font-weight-bold">Đề cương khóa học</h5></div>
            <div class="card-body">
                <h6 class="font-weight-bold">Phần 1</h6>
                <div class="dropdown-divider"></div>
                <p>Bài 1: Giới thiệu SwiftUI 01</p>
                <p>Thời lượng: 00:01:45</p>
                <a href="#" class="btn btn-info" role="button">Học thử</a>
                <div class="dropdown-divider"></div>
            </div>
        </div
        </div>
    </div>
    <div class="w-25 position-fixed" style="right: 17%; top: 15%">
        <h4 class="font-weight-bold">{{courseName}}</h4>
        <h2 class="text-danger mt-4 font-weight-bold">{{format_number coursePrice}}đ</h2>
        <p>Đánh giá: 0 <i class="fa fa-star text-warning"></i> (số người đánh giá)</p>
        <a href="#" class="btn btn-danger font-weight-bold w-100 pt-3 pb-3 mt-5" role="button">Đăng ký khóa học</a>
        <a href="#" class="btn btn-success font-weight-bold w-100 pt-2 pb-2 mt-4" role="button"><i class="fa fa-shopping-cart fa-2x"></i> Thêm vào giỏ hàng</a>
            <p style="font-size: 12px; color: #979797; text-align: center; margin-top: 10px">Hoàn tiền trong 7 ngày nếu không hài lòng</p>
    </div>
</div>
{{/with}}